.wrapper {
  .btn-tab {
    position: relative;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 3px 7px;
    margin: 3px;
    z-index: 1;
  }
  .btn-tab.active {
    border: 1px solid rgba(175, 47, 47, 0.2);
  }
}
